.b {
  fill: black;
  stroke: #e7e7e7;
}

.w {
  stroke: #282828;
  fill: white;
}

:host{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
